*-commands.sh
*.xlsx
.Rproj.user
.snakemake
__pycache__
bak/
benchmarks/
data/Ancestral_paths_new
data/clues/
data/ensembl/
data/gwascat/
data/labels/
data/metadata/
data/neo.impute
data/neo.likelihoods
data/relate/
ms-*.log
nohup*
results/
tmp/
~*
