*-commands.sh
*.list
*.pdf
*.png
*.txt
*.xlsx
*.zip
*_mismatchs.tsv
*imsgc*
.Rproj.user
.snakemake
_*
__pycache__
astrid/
bak/
benchmarks/
bin/
data/1000g/
data/Ancestral_paths_new
data/clues/
data/dbsnp/
data/ensembl/
data/finngen/
data/gwascat/
data/labels/
data/metadata/
data/neo.impute
data/neo.likelihoods
data/pathogens/
data/relate/
data/sites/
data/targets/*.log
data/targets/*_ld.tsv.gz
data/targets/*_palm.tsv
data/targets/*_positions.tsv
data/targets/*_variants.tsv
data/targets/gwas_*.tsv
data/ukbb/
ms-*.log
nohup*
results/
scratch.*
supplement/
tmp/
~*